.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 88px 47px 100% 100% 88px;
    grid-template-areas:
    "main__header"
    "nav__bar"
    "card__subscribe"
    "card__gallery"
    "main__footer";
    min-width: 320px;
    margin: auto;
}

.card__date {
    color: lightgray;
}

#card__subscribe {
    grid-area: card__subscribe;
    text-align: center;
    margin: 10px;
}

#card__gallery {
    grid-area: card__gallery;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 430px);
    grid-template-areas:
    "article1"
    "article2"
    "article3"
    "article4"
    "article5"
    "article6";
    gap: 10px;
    margin: auto;
}

#article1 { grid-area: article1; }
#article2 { grid-area: article2; }
#article3 { grid-area: article3; }
#article4 { grid-area: article4; }
#article5 { grid-area: article5; }
#article6 { grid-area: article6; }

.card__copy {
    padding: 0 10px 20px 10px;
}

.card__image {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #000;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.card__btn {
    background-color: #4caf50;
    color: #fff;
    border: 0.5px solid #4caf50;
    border-radius: 5px;
    padding: 10px;
    width: auto;
}

.card__btn:hover {
    background-color: #45a049;
    color: #fff;
}

.card__btn:active {
    background-color: #4caf50;
    color: #fff;
}

#article1, #article2, #article3, #article4, #article5, #article6 {
    text-align: center;
}

/* Medium screens */
@media (min-width: 600px) and (max-width:1100px) {
    #card__gallery {
        grid-area: card__gallery;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "article1 article2"
        "article3 article4"
        "article5 article6";
        gap: 10px;
        margin: auto;
    }

    .card__image {
        width: 100%;
        height: 150px;
    }
}

/* Large screens */
@media (min-width:1101px) {
    #card__gallery {
        grid-area: card__gallery;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "article1 article2 article3"
        "article4 article5 article6";
        gap: 10px;
        margin: auto;
    }

    .card__image {
        width: 100%;
        height: 200px;
    }
}