body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.card__date,
.bp-article__date {
    font-family: "Edu VIC WA NT Beginner", cursive, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

code,
.bp-article__code {
    font: 11px monospace, sans-serif;
}

@media (min-width: 600px) {
    code,
    .bp-article__code {
        font: 13px monospace, sans-serif;
    }
}

